<%= button_to "Delete", "/products/#{@product.id}", method: :delete %>

<%= button_to "Edit", "/products/#{@product.id}/edit", method: :get %>

<h1>Product <%= params[:id] %></h1>

<h2><%= @product.name %></h2>
<h2><%= @product.description %></h2>
<h2>$<%= @product.price %></h2>
<h2> <%= @product.updated_at %> </h2>
<% if @product.supplier_id == "nil" %> 
  <h2> Unkown supplier</h2> 
<% else %>
<h2> Supplier: <%= @product.supplier_id =%> </h2>
<% end %>